header{
    background-color: #c3f9d2;
  }
  nav{ 
    background-color: #f8d8f9;
    width: fit-content;
  }
  h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 150%;
    color: #ba49be;
  }
  body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 150%;
    background-color: #c3f9d2;
  
  }
  main{
    background-color: #c3f9d2;
    font-size:85%;
    text-align: center;
  }
  
  p{
    color: #9a2f9e;
    background-color: #c3f9d2;
    text-align: center;
    line-height: 85%;
    width: 100%;
  }
  li{
    display: block;
    width: 100%;
  }
  footer{
    background-color: #c3f9d2;
    font-size: 60%;
  }
  a{
    color:#9a2f9e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }